.Book {
    margin: 200px auto;
    padding: 80px 25px;
    width: 75%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 20px 10px rgba(0, 0, 0, 0.15);
    background-color: #f9f9f9;
    max-width: 1500px;
}
  
.Book form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 5%;
}
  
.Book .inputBox {
    flex: 0 0 calc(50% - 30px);
    margin-bottom: 20px;
}
  
.Book h1 {
    font-size: 30px;
    margin: 2% 3%;
}
  
.Book select,
.Book input {
    width: 100%;
    margin: 10px 0;
    font-size: 15px;
    border: 1px solid #ccd7e6;
    background-color: rgb(243, 239, 239);
    padding: 10px 0 10px 15px;
}
  
.Book button {
    width: 100%;
    height: 50%;
    margin-top: 25px;
    padding: 15px 0;
    border-radius: 3px;
    background-color: rgb(89, 65, 245, 1);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
  
.Book button:hover {
    background-color: rgb(89, 65, 245, 0.85);
}
  
@media screen and (max-width: 768px) {
  .Book .inputBox {
      flex: 0 0 calc(100% - 20px);
  }
} 
